#graph {
	width: 95%;
	height: 75vh;
	margin-left: 2.3vw;
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
	position: relative;
}

#loadingBar {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 2.3vw;
	width: 95%;
	height: 75vh;
	background-color: rgba(200, 200, 200, 0.8);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 1;
}

#graphContainer {
	height: 25%;
	position: relative;
}

#text {
	position: absolute;
	left: 530px;
	width: 30px;
	height: 50px;
	margin: auto auto auto auto;
	font-size: 22px;
	color: #000000;
}

.popout {
	animation: popout 1s ease;
	-webkit-animation: popout 1s ease;
}

@keyframes popout {
	from {
		transform: scale(1)
	}

	80% {
		transform: scale(1.5)
	}

	to {
		transform: scale(1)
	}
}

@-webkit-keyframes popout {
	from {
		-webkit-transform: scale(1)
	}

	80% {
		-webkit-transform: scale(1.5)
	}

	to {
		-webkit-transform: scale(1)
	}
}

div.outerBorder {
	position: relative;
	top: 400px;
	width: 600px;
	height: 44px;
	margin: auto auto auto auto;
	border: 8px solid rgba(0, 0, 0, 0.1);
	background: rgb(252, 252, 252);
	/* Old browsers
	background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 100%);
	/* FF3.6+ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
	/* Chrome,Safari4+ 
	background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 100%);
	/* Chrome10+,Safari5.1+ 
	background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 100%);
	/* Opera 11.10+ 
	background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 100%);
	/* IE10+ 
	background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 100%);
	/* W3C 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */
	border-radius: 72px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#border {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 500px;
	height: 23px;
	margin: auto auto auto auto;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	margin: auto auto auto auto;
	border-radius: 11px;
	border: 2px solid rgba(30, 30, 30, 0.05);
	background: rgb(0, 173, 246);
	/* Old browsers */
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
						  supported by Chrome and Opera */
}

.btn-icon {
	padding: 0;
}

.tooltip-inner {
	white-space: nowrap;
}

html,
body {
	background-color: rgba(86, 166, 252, 1);
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #333;
}

.scroll::-webkit-scrollbar {
	width: 12px;
	background-color: rgba(86, 166, 252, 1);
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #6c757d;
}

a {
	cursor: pointer;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 16px;
	height: 16px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.filterChange {
	border-color: rgb(56, 143, 194, 0.40);
	border-width: 2px;
}

div.vis-network-tooltip {
	position: absolute;
	z-index: 2000;
	background-color: rgba(75, 73, 73, 0.75);
	color: aliceblue;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 1px;
	border-color: #000000;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

iframe.width-changed {
    width: 100%;
    display: block;
    border: 0;
    height: 0;
    margin: 0;
}