body {
	padding-top: 56px;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#iframe1 {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 0px;
	height: 100%;
	padding-bottom: 56px;
	background-color: rgba(86, 166, 252, 0.75);
}

.dropdown-menu a:hover {
	background-color: rgba(53, 54, 54, 0.692);
}

::-webkit-scrollbar {
	display: none;
}

.fixFrame {
	margin-top: 56px !important;
	overflow: auto;
}

#dragbar {
	background-color: rgba(0, 0, 0, 1);
	position: absolute;
	width: 2px;
	cursor: ew-resize;
	z-index: 9;
	min-height: 100%;
	min-height: 100vh;
	opacity: 0.85;
}

#dragcircle {
	background: black;
	height: 48px;
	width: 24px;
	border-bottom-right-radius: 48px;
	border-top-right-radius: 48px;
	opacity: 0.85;
	align-items: center;
	text-decoration: none;
}


#sidebar-container {
	min-height: 100vh;
	background-color: #333;
	padding: 0;
}

.drag {
	right: 0;
	z-index: 9;
	position: absolute;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

div:hover>.drag {
	transform: translate(100%, 0);
	-webkit-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
}

.slide-right {
	transform: translate(100%, 0);
	-webkit-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
}

#sidebar-container .list-group a {
	height: 50px;
	color: white;
}

button .openup {
	max-width: 0;
	-webkit-transition: max-width 1s;
	transition: max-width 1s;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
}

button:hover .openup {
	max-width: 7rem;
}

.btn-overlap {
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 10;
	height: 32px;
}

div:hover>.btn-overlap {
	opacity: 0.75;
}

.overlay {
	position: fixed;
	/*display: none;*/
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	cursor: pointer;
}

.list-group-item {
	transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

.list-group-item:hover {
	transform: scale(1.05);
}

.card {
	transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

.card:hover {
	transform: scale(1.1);
}

.modal-footer {
	border: none !important;
}

.modal-header {
	border: none !important;
}

.fa-caret-down {
	transform: rotate(0deg);
	transition: transform 0.3s linear;
}

.fa-caret-down.open {
	transform: rotate(180deg);
	transition: transform 0.3s linear;
}

.fa-caret-left {
	transform: rotate(0deg);
	transition: transform 0.3s linear;
}

.fa-caret-left.open {
	transform: rotate(180deg);
	transition: transform 0.3s linear;
}