
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color: rgba(86, 166, 252, 1);">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top shadow shadow-lg" style="z-index: 100;">
			<div class="navbar-header">
				<a class="navbar-brand nav-link" style="cursor: pointer;" href="/">
					<img src="{% static 'images/tracking.png' %}" width="30" height="30"
						class="d-inline-block align-top">
					<span class="text-light">Site Name</span>
				</a>
			</div>
			<div class="text-center mx-auto ng-cloak">
				<span class='text-dark'>Hong Kong Time: </span>
				<span style="color:#F8A33D" class='pl-5'>BTC: </span>
				<span class='text-dark'>UTC Time: </span>
			</div>
			<div class="float-right" style="white-space: nowrap;">
				<div class="btn-group">
					<button class="btn btn-dark shadow">Create Account</button>
					<button class="btn btn-dark shadow">Log In</button>
				</div>
			</div>
		</nav>
    </body>
</html>
