{% load static %}
{% load coin_extras %}
<!DOCTYPE html>
<html ng-app="main">

<head>
	<meta charset="utf-8">
	<title>USDT/BTC Market Tracker</title>
	<link rel="shortcut icon" href="{% static 'images/tracking.png' %}">
	<link rel="stylesheet" href="{% static 'navbar.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
	<style type="text/css">
		body {
			padding-top: 56px;
			width: 100%;
			height: 100%;
			margin: 0;
			overflow: hidden;
		}

		#iframe1 {
			position: absolute;
			left: 0px;
			width: 100%;
			top: 0px;
			height: 100%;
			padding-bottom: 56px;
			background-color: rgba(86, 166, 252, 0.75);
		}

		.dropdown-menu a:hover {
			background-color: rgba(53, 54, 54, 0.692);
		}

		::-webkit-scrollbar {
			display: none;
		}
	</style>
	<script>
		var main = angular
						.module('main', [])
						.controller('mainController', ['$scope', mainController]);
		function mainController($scope) {
			vm = this
			vm.isCustom = false;
			vm.ut = moment().utc().format('H:mm:ss');
			vm.hk = moment().tz('Asia/Hong_Kong').format('H:mm:ss');
			vm.addrs = []
			{% for x in search %}
				vm.addrs.push('');
			{% endfor %}

			vm.customGraph = function() {
				vm.isCustom = true;
				$('#searchBar').val('');
			}

			vm.customOff = function() {
				vm.isCustom = false;
				for (var i = 0; i < vm.addrs.length; i++) {
					vm.addrs[i] = '';
				}
			}

			vm.makeGraph = function() {
				let tempAddrs = [];
				for (var i = 0; i < vm.addrs.length; i++) {
					if (vm.addrs[i] !== '') {
						tempAddrs.push(vm.addrs[i]);
					}
				}
				if (tempAddrs.length <= 1) return;
				var url = "{{homeUrl}}".replace(/0/, JSON.stringify(tempAddrs))
				$('#iframe1').attr('src', url);
			}

			vm.toggle = function(id) {
				if ($(`#${id}`).css('color') == 'rgb(255, 255, 255)') {
					$(`#${id}`).css("color", '#495057');
				} else {
					$(`#${id}`).css("color", 'rgb(255, 255, 255)');
				}	
			}

			setInterval(function() {
				$scope.$apply(function() {
					vm.ut = moment().utc().format('H:mm:ss');
					vm.hk = moment().tz('Asia/Hong_Kong').format('H:mm:ss');
				});
			}, 1000);
		}
	</script>
</head>

<body ng-controller="mainController as vm">
	<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-header">
			<ul class="nav navbar-nav d-inline-block">
				<li class="dropdown">
					<a class="navbar-brand dropdown nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
					{% if coin == 'home' %}
						<img src="{% static 'images/tracking.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
						<span class="menu-collapsed">Home</span><span class="caret"></span>
					{% elif coin == 'usdt' %}
						<img src="{% static 'images/usdt.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
						<span class="menu-collapsed">USDT</span><span class="caret"></span>
					{% elif coin == 'btc' %}
						<img src="{% static 'images/btc.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
						<span class="menu-collapsed">BTC</span><span class="caret"></span>
					{% endif %}
					</a>
					<div class="dropdown-menu" id="BrandDropdown" role="menu" style="z-index: 10000">
						<a class="dropdown-item" href="{% url 'home' %}" id='home'>
							<img src="{% static 'images/tracking.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
							<span class="menu-collapsed">Home</span><span class="caret"></span>
						</a>
						<a class="dropdown-item" href="{% url 'usdt' %}" id='usdt'>
							<img src="{% static 'images/usdt.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
							<span class="menu-collapsed">USDT</span><span class="caret"></span>
						</a>
						<a class="dropdown-item" href="{% url 'btc' %}" id='btc'>
							<img src="{% static 'images/btc.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
							<span class="menu-collapsed">BTC</span><span class="caret"></span>
						</a>
					</div>
				</li>
			</ul>			
		</div>
		<div class="text-center mx-auto ng-cloak">
			<span class='text-dark'>Hong Kong Time: </span><span class="font-weight-bold text-light">{% verbatim %}{{ vm.hk }}{% endverbatim %}</span>
			<span style="color:#F8A33D" class='pl-5'>BTC: </span><span class='font-weight-bold'>${{ btc.last | numCommas }}</span>
		{% if btc.percentage < 0 %}
			<span class="font-weight-italic pr-5" style="color:#c74242"> ({{btc.percentage}}%)</span>
		{% else %}
			<span class="font-weight-italic pr-5" style="color:#009e73"> (+{{btc.percentage}}%)</span>
		{% endif %}
			<span class='text-dark'>UTC Time: </span><span class="font-weight-bold text-light">{% verbatim %}{{ vm.ut }}{% endverbatim %}</span>
		</div>
	</nav>

	<!-- Bootstrap row -->
	<div class="row" id="body-row">
		<!-- Sidebar -->
		{% if coin != 'home' %}
		<div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2 pre-scrollable">
			<!-- d-* hiddens the Sidebar in smaller devices. Its items can be kept on the Navbar 'Menu' -->
			<!-- Bootstrap List Group -->
			<div class="dropdown btn-group block" style="width: 100%">
				<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="graphDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu keep-open" style="width: 100%">
					<div ng-switch on="vm.isCustom">
						<div ng-switch-when="true">
							<div class="text-center text-truncate">
								<button class="btn d-inline-block" ng-click="vm.makeGraph()">&#9745;</button>
								<button class="btn d-inline-block" onclick="toggleDrop()">&#10060;</button>
							</div>
						</div>
						<div ng-switch-default class="row">
							<a class="btn btn-primary text-truncate mx-auto" id="graphBtn" ng-click="vm.customGraph()">Make Custom Graph?</a>
						</div>
					</div>
				</div>
				<input class="form-control block" id="searchBar" type="text" placeholder="Search...">
			</div>
			
			<div id='accordion' style="margin-bottom: 75px">
				{% for category in categories %}
				<button class='btn btn-dark btn-group float-right m-1' style='z-index: 1000; height: 42px' data-toggle="collapse" data-target="#{{category.category}}" aria-expanded="false" aria-controls="{{category.category}}">
					&#8595;
				</button>
				<div ng-switch on="vm.isCustom" class="ng-cloak" id='{{category.category}}_heading'>
					<div ng-switch-when="true">
						<div class="bg-secondary list-group-item list-group-item-action" style="color: white;">
							{{category.category}}
						</div>
					</div>
					<div ng-switch-default>
						<a href="{{category.url}}" target="iframe_a" class="bg-secondary list-group-item list-group-item-action" style="color: white;">
							{{category.category}}
						</a>
					</div>
				</div>
				<ul class="list-group sticky-top sticky-offset collapse ng-cloak" id="{{category.category}}" aria-labelledby="{{category.category}}_heading" data-parent="#accordion">
					{% for x in category.addrs %}
					<div ng-switch on="vm.isCustom">
						<div ng-switch-when="true">
							<div class="bg-dark list-group-item list-group-item-action" style="height: 50px">
								<div class="d-inline-block w-80 justify-content-start align-items-center text-truncate">
									<span class="menu-collapsed" id="{{x.addr}}">{{x.addr}}</span>
								</div>
								<div class="custom-control custom-radio custom-control-inline float-right">
									<input type="checkbox" id="customRadioInline{{forloop.counter0}}" class="custom-control-input" ng-click="vm.toggle('{{x.addr}}')" ng-model="vm.addrs[{{forloop.counter0}}]" ng-true-value="'{{x.addr}}'" ng-false-value="">
									<label class="custom-control-label" for="customRadioInline{{forloop.counter0}}" style='cursor: pointer;'></label>
								</div>
							</div>
						</div>
						<a ng-switch-default href="{{x.url}}" id="addr" target="iframe_a" class="bg-dark list-group-item list-group-item-action">
							<div class="d-inline-block w-100 justify-content-start align-items-center text-truncate">
								<span class="menu-collapsed">{{x.addr}}</span>
							</div>
						</a>
					</div>
					{% endfor %}
				</ul>
				{% endfor %}
			</div>
			<!-- List Group END-->
		</div>
		<!-- sidebar-container END -->
		
		<!-- MAIN -->
		<div class="col" id="frame">
			<iframe id="iframe1" frameborder="0" name="iframe_a" width="100%" height="100%"></iframe>
		</div>
		<!-- Main Col END -->
		{% else %}
		<div id="frame">
			<iframe id="iframe1" style="padding-bottom: 0 !important; padding-top: 56px !important" src="{% url 'searchHome' %}" frameborder="0" width="100%" height="100%"></iframe>
		</div>
		{% endif %}
	</div>
</body>

<script>

	function toggleDrop() {
		let vm = angular.element($('body')).scope();
		vm.$apply('vm.customOff()');
		$('#graphDrop').next().toggle();
	}

	jQuery('#graphDrop').on('click', toggleDrop);
	jQuery('.dropdown-menu').click(function(e) {
		e.stopPropagation();
	}); 

	$(document).ready(function(){
		$("#searchBar").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#accordion .list-group-item").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});

	// Hide submenus
	$('#body-row .collapse').collapse('hide');

	// Collapse/Expand icon
	$('#collapse-icon').addClass('fa-angle-double-left');

	// Collapse click
	$('[data-toggle=sidebar-colapse]').click(function () {
		SidebarCollapse();
	});

	function SidebarCollapse() {
		$('.menu-collapsed').toggleClass('d-none');
		$('.sidebar-submenu').toggleClass('d-none');
		$('.submenu-icon').toggleClass('d-none');
		$('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

		// Treating d-flex/d-none on separators with title
		var SeparatorTitle = $('.sidebar-separator-title');
		if (SeparatorTitle.hasClass('d-flex')) {
			SeparatorTitle.removeClass('d-flex');
		} else {
			SeparatorTitle.addClass('d-flex');
		}

		// Collapse/Expand icon
		$('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
	}
</script>

</html>
<!-- body-row END -->