<!-- Bootstrap NavBar -->
{% load static %}

<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>USDT/BTC Market Tracker</title>
	<link rel="stylesheet" href="{% static 'navbar.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<style type="text/css">
		body {
			padding-top: 56px;
			width: 100%;
			height: 100%;
			margin: 0;
			overflow: hidden;
		}

		#iframe1 {
			position: absolute;
			left: 0px;
			width: 100%;
			top: 0px;
			height: 100%;
			padding-bottom: 50px;
		}

		::-webkit-scrollbar {
			display: none;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
		 aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="navbar-brand dropdown nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink"
					 aria-haspopup="true" aria-expanded="false">
						<img src="{% static 'images/usdt.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
						<span class="menu-collapsed">USDT</span><span class="caret"></span>
					</a>
					<ul class="dropdown-menu" id="BrandDropdown" role="menu">
						<li class="dropdown-item"><a href="#"><img src="{% static 'images/btc.png' %}" width="30" height="30" class="d-inline-block align-top"
								 alt="">
								<span class="menu-collapsed">BTC</span><span class="caret"></span></a></li>
						<li class="dropdown-item"><a href="#"><img src="{% static 'images/boat.jpg' %}" width="30" height="30" class="d-inline-block align-top"
								 alt=""><span class="menu-collapsed">Home</span><span class="caret"></span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- <a class="navbar-brand" href="#">
				<img src="{% static 'images/usdt.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
				<span class="menu-collapsed">USDT</span>
			</a> -->
	</nav>
	<!-- NavBar END -->


	<!-- Bootstrap row -->
	<div class="row" id="body-row">
		<!-- Sidebar -->
		<div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2 pre-scrollable">
			<!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
			<!-- Bootstrap List Group -->
			<input class="form-control" id="searchBar" type="text" placeholder="Search...">
			<ul class="list-group sticky-top sticky-offset" id="addresses">
				<a href="{% url 'usdt:search' 0 %}" id="addr" target="iframe_a" class="bg-dark list-group-item list-group-item-action">Home</a>
				{% for x in search %}
				<a href="{% url 'usdt:search' x %}" id="addr" target="iframe_a" class="bg-dark list-group-item list-group-item-action">
					<div class="d-inline-block w-100 justify-content-start align-items-center text-truncate">
						<span class="menu-collapsed">{{x}}</span>
					</div>
				</a>
				{% endfor %}
			</ul>
			<!-- List Group END-->
		</div>
		<!-- sidebar-container END -->

		<!-- MAIN -->
		<div class="col">
			<iframe id="iframe1" src="{% url 'usdt:search' 0 %}" frameborder="0" name="iframe_a" width="100%" height="1000px"></iframe>
		</div>
		<!-- Main Col END -->

	</div>
</body>

<script>
	$(document).ready(function(){
		$("#searchBar").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#addresses a").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});

	// Hide submenus
	$('#body-row .collapse').collapse('hide');

	// Collapse/Expand icon
	$('#collapse-icon').addClass('fa-angle-double-left');

	// Collapse click
	$('[data-toggle=sidebar-colapse]').click(function () {
		SidebarCollapse();
	});

	function SidebarCollapse() {
		$('.menu-collapsed').toggleClass('d-none');
		$('.sidebar-submenu').toggleClass('d-none');
		$('.submenu-icon').toggleClass('d-none');
		$('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

		// Treating d-flex/d-none on separators with title
		var SeparatorTitle = $('.sidebar-separator-title');
		if (SeparatorTitle.hasClass('d-flex')) {
			SeparatorTitle.removeClass('d-flex');
		} else {
			SeparatorTitle.addClass('d-flex');
		}

		// Collapse/Expand icon
		$('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
	}
</script>

</html>
<!-- body-row END -->