<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<title>Javier&#x27;s First Project</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
	<style type="text/css">
		#graph {
			width: 100%;
			height: 700px;
			background-color: #ffffff;
			border: 1px solid lightgray;
			position: relative;
			float: left;
		}
	</style>
</head>

<body>
	<h2 id="name">{{search}}</h2>
	<h3>{{search}} stats</h3>
	<button onclick="collapse()">Show All Transactions</button>
	<div id="graph"></div>
	
	<script>
		var allEdges = {{edges|safe}}
		var isCollapsed = true;

		function collapse() {
			if (isCollapsed) {
				isCollapsed = false;
				edges = new vis.DataSet(allEdges.all);
			} else if (!isCollapsed) {
				isCollapsed = true;
				edges = new vis.DataSet(allEdges.collapsed);
			}
			drawGraph();
		}

		// initialize global variables.
		var nodes = new vis.DataSet({{nodes|safe}});
		var	edges = new vis.DataSet(allEdges.collapsed);
		var network;
		var container;
		var options, data;

		// This method is responsible for drawing the graph, returns the drawn network
		function drawGraph() {
			var container = document.getElementById('graph');

			// parsing and collecting nodes and edges from the python
			//nodes = new vis.DataSet({{nodes|safe}});
			//edges = new vis.DataSet({{edges|safe}});

			// adding nodes and edges to the graph
			data = {
				nodes: nodes,
				edges: edges
			};

			var options = {
				"configure": {
					"enabled": false,
					"filter": [
						"physics"
					]
				},
				"nodes": {
					"scaling": {
					"min": 5,
					"max": 100
					},
					"shape": "dot"
				},
				"edges": {
					"arrows": {
						"to": {
							"enabled": true
						}
					},
					"arrowStrikethrough": false,
					"color": {
						"inherit": true
					},
					"smooth": {
						"type": "dynamic",
						"forceDirection": "none"
					}
				},
				"interaction": {
					"dragNodes": true,
					"hideEdgesOnDrag": false,
					"hideNodesOnDrag": false
				},
				"physics": {
					'stabilization': {
						'enabled': false,
						'iterations': 1000,
						'updateInterval': 100
					},
					'timestep': 0.5,
    				'adaptiveTimestep': true,
					"enabled": true,
					"solver": "forceAtlas2Based"
				}
			};
			network = new vis.Network(container, data, options);

			return network;
		}

		drawGraph();
	</script>
</body>

</html>