<!DOCTYPE html>
{% load static %}
{% load usdt_extras %}
<html ng-app="txs">

<head>
	<meta charset="utf-8">
	<title>Javier&#x27;s First Project</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		 crossorigin="anonymous"></script>-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<style type="text/css">
		#graph {
			width: 100%;
			height: 700px;
			background-color: #ffffff;
			border: 1px solid rgb(0, 0, 0);
			position: relative;
		}

		.tx {
			margin-bottom: .75rem;
			margin-top: .75rem;
			background-color: #fff;
			padding-top: .5rem;
		}

		body {
			background-color: rgba(77, 164, 255, 0.75)
		}

		a {
			cursor: pointer;
		}
	</style>
	<script>
		var allEdges = {{edges|safe}}
	</script>
	<script>
		(function () {
			'use strict';

			angular
				.module('txs', [])
				.factory('PagerService', PagerService)
				.controller('txsController', txs);

			function txs(PagerService) {
				var vm = this;

				vm.txs = [];
				for (var i = 1; i < allEdges.all.length; i++) {
					vm.txs.push({
						amount: allEdges.all[i].amount,
						source: allEdges.all[i].source,
						target: allEdges.all[i].target,
						time: allEdges.all[i].time,
						txid: allEdges.all[i].txid,
						txidUrl: `https://omniexplorer.info/tx/${allEdges.all[i].txid}`,
						sourceUrl: allEdges.all[i].sourceUrl,
						targetUrl: allEdges.all[i].targetUrl
					});
				}
				vm.pager = {};
				vm.setPage = setPage;

				initController();

				function initController() {
					// initialize to page 1
					vm.setPage(1);
				}

				function setPage(page) {
					if (page < 1 || page > vm.pager.totalPages) {
						return;
					}

					// get pager object from service
					vm.pager = PagerService.GetPager(vm.txs.length, page);

					// get current page of items
					vm.items = vm.txs.slice(vm.pager.startIndex, vm.pager.endIndex + 1);
				}
			}

			function PagerService() {
				// service definition
				var service = {};

				service.GetPager = GetPager;

				return service;

				// service implementation
				function GetPager(totalItems, currentPage, pageSize) {
					// default to first page
					currentPage = currentPage || 1;

					// default page size is 10
					pageSize = pageSize || 10;

					// calculate total pages
					var totalPages = Math.ceil(totalItems / pageSize);

					var startPage, endPage;
					if (totalPages <= 10) {
						// less than 10 total pages so show all
						startPage = 1;
						endPage = totalPages;
					} else {
						// more than 10 total pages so calculate start and end pages
						if (currentPage <= 6) {
							startPage = 1;
							endPage = 10;
						} else if (currentPage + 4 >= totalPages) {
							startPage = totalPages - 9;
							endPage = totalPages;
						} else {
							startPage = currentPage - 5;
							endPage = currentPage + 4;
						}
					}

					// calculate start and end item indexes
					var startIndex = (currentPage - 1) * pageSize;
					var endIndex = Math.min(startIndex + pageSize - 1, totalItems - 1);

					// create an array of pages to ng-repeat in the pager control
					var pages = _.range(startPage, endPage + 1);

					// return object with all pager properties required by the view
					return {
						totalItems: totalItems,
						currentPage: currentPage,
						pageSize: pageSize,
						totalPages: totalPages,
						startPage: startPage,
						endPage: endPage,
						startIndex: startIndex,
						endIndex: endIndex,
						pages: pages
					};
				}
			}
		})();
	</script>
</head>

<body class="container-fluid">
	<h2 id="name">{{search}}</h2>
	<h3>{{search}} stats</h3>
	<button onclick="collapse()" id="hide">Show All Transactions</button>
	<div id="graph"></div>
	<div ng-controller="txsController as vm" class="container">
		<div>
			<ul ng-if="vm.pager.pages.length" class="pagination">
				<li ng-class="{disabled:vm.pager.currentPage === 1}">
					<a ng-click="vm.setPage(1)">First</a>
				</li>
				<li ng-class="{disabled:vm.pager.currentPage === 1}">
					<a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
				</li>
				<li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
					<a ng-click="vm.setPage(page)">{% verbatim %}{{page}}{% endverbatim %}</a>
				</li>                
				<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
					<a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
				</li>
				<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
					<a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
				</li>
			</ul>
		</div>
		<div class="list-group">
			<div ng-repeat="tx in vm.items" class="list-group-item" style="margin-bottom: .75rem;margin-top: .75rem; width: 75%; margin:auto">
				<div class="row align-items-start">
					<div class="col-sm-1" style="padding-top: 15px; padding-left: 20px; padding-bottom: 1.5rem;">
						<img src="{% static 'images/usdt.png' %}" width="48" height="48">
					</div>
					<h1 class="col-sm-7">{% verbatim %}{{ tx.amount }}{% endverbatim %}</h1>
					<h4 class="col-sm-4" style="padding-top: 15px;">{% verbatim %}{{ tx.time }}{% endverbatim %}</h4>
				</div>
				<div class="row align-items-center text-center" style="padding-bottom: 1rem;">
					<a href="{% verbatim %}{{ tx.sourceUrl }}{% endverbatim %}" style="margin-right: 15px" class="col-sm-5 h4">
						{% verbatim %}{{ tx.source }}{% endverbatim %}
					</a>
					<div class="col-sm-1 h6">→</div>
					<a href="{% verbatim %}{{ tx.targetUrl }}{% endverbatim %}" class="col-sm-5 h4">
						{% verbatim %}{{ tx.target }}{% endverbatim %}
					</a>		
				</div>
				<div class="row align-items-end text-center">
					<a href="{% verbatim %}{{ tx.txidUrl }}{% endverbatim %}">
						{% verbatim %}{{ tx.txid }}{% endverbatim %}
					</a>
				</div>
				
			</div>
		</div>
		<div>
			<ul ng-if="vm.pager.pages.length" class="pagination">
				<li ng-class="{disabled:vm.pager.currentPage === 1}">
					<a ng-click="vm.setPage(1)">First</a>
				</li>
				<li ng-class="{disabled:vm.pager.currentPage === 1}">
					<a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
				</li>
				<li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
					<a ng-click="vm.setPage(page)">{% verbatim %}{{page}}{% endverbatim %}</a>
				</li>                
				<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
					<a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
				</li>
				<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
					<a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
				</li>
			</ul>
		</div>
	</div>
	<script>
		
		var isCollapsed = true;

		function collapse() {
			if (isCollapsed) {
				isCollapsed = false;
				document.getElementById('hide').innerHTML = "Collapse Transactions";
				edges = new vis.DataSet(allEdges.all);
			} else if (!isCollapsed) {
				isCollapsed = true;
				document.getElementById('hide').innerHTML = "Show All Transactions";
				edges = new vis.DataSet(allEdges.collapsed);
			}
			drawGraph();
		}

		// initialize global variables.
		var nodes = new vis.DataSet({{nodes|safe}});
		var	edges = new vis.DataSet(allEdges.collapsed);
		var network;
		var container;
		var options, data;

		// This method is responsible for drawing the graph, returns the drawn network
		function drawGraph() {
			var container = document.getElementById('graph');

			// parsing and collecting nodes and edges from the python
			//nodes = new vis.DataSet({{nodes|safe}});
			//edges = new vis.DataSet({{edges|safe}});

			// adding nodes and edges to the graph
			data = {
				nodes: nodes,
				edges: edges
			};

			var options = {
				"configure": {
					"enabled": false,
					"filter": [
						"physics"
					]
				},
				"nodes": {
					"scaling": {
					"min": 2,
					"max": 100
					},
					"shape": "dot",
					"font": {
						"color": "#000000"
					}
				},
				"edges": {
					"arrows": {
						"to": {
							"enabled": true
						}
					},
					"arrowStrikethrough": false,
					"color": {
						"inherit": true
					},
					"smooth": {
						"type": "dynamic",
						"forceDirection": "none"
					},
					"font": {
						"color": "#000000"
					}
				},
				"interaction": {
					"dragNodes": true,
					"hideEdgesOnDrag": false,
					"hideNodesOnDrag": false
				},
				"physics": {
					'stabilization': {
						'enabled': false,
						'iterations': 1000,
						'updateInterval': 100
					},
					'timestep': 0.5,
    				'adaptiveTimestep': true,
					"enabled": true,
					"solver": "forceAtlas2Based"
				}
			};
			network = new vis.Network(container, data, options);

			return network;
		}

		drawGraph();
	</script>
</body>

</html>