#graph {
	width: 95%;
	height: 75vh;
	margin-left: 2.3vw;
	background-color: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	position: relative;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
						  supported by Chrome and Opera */
}

.btn-icon {
	padding: 0;
}

.tooltip-inner {
	white-space: nowrap;
}

html, body {
	background-color: rgba(86, 166, 252, 1);
	max-width: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #333;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: rgba(86, 166, 252, 1);
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #6c757d;
}


a {
	cursor: pointer;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 16px;
	height: 16px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}